kernels/*
qemu/*
fedora/*
debian/*
debian_small/*
ubuntu_ctfs/*
ubuntu_splitfs/*

#!/fedora/*.sh
#!/debian/*.sh
#!/debian_small/*.sh
#!/debian_small/image/*.sh
#!/ubuntu_ctfs/*.sh
#!/ubuntu_splitfs/*.sh

CMakeFiles/
build/

*.perf
*.trf
trace_extractor/*.txt


#bench_tool/build
	
