kernels/*
qemu/*
fedora/*
debian/*
debian_small/*
ubuntu_ctfs/*
ubuntu_splitfs/*

#!/fedora/*.sh
#!/debian/*.sh
#!/debian_small/*.sh
#!/debian_small/image/*.sh
#!/ubuntu_ctfs/*.sh
#!/ubuntu_splitfs/*.sh

*.perf
*.trf
*.o
*.d
trace_extractor/*.txt


CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build/

#bench_tool/build
	
